#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.grillagrip{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 390px), 1fr));
}
.hijogrip{
 border: 2px bisque solid;
 border-radius: 5%;
 padding: 0px 10px;
}
.grillaflex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
li{
  list-style-type: none;
  margin: 0.5rem 2rem;
  font-weight: bolder;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
